<!DOCTYPE html>
html( lang="en" )
  head
    meta( charset="UTF-8" )
    meta( http-equiv="X-UA-Compatible", content="ie=edge" )
    meta( name="viewport",   content="width=device-width, initial-scale=1.0" )
    meta( name="author"      content="Yago Estévez" )
    meta( name="description" content="A File Metadata Viewer project for freeCodeCamp certification" )
    meta( name="keywords"    content="freecodecamp, nodejs, node, express, javascript, mongodb, mongoose" )
    link(
      rel="stylesheet" crossorigin="anonymous"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    )
    link( rel="stylesheet"   href="/assets/main.css" )
    link( rel="stylesheet"   href="https://fonts.googleapis.com/css?family=Raleway" )
    title File Metadata Viewer by Yago Estévez

  body.text-center
    main.col-10
      .h1 File Metadata Viewer
      .lead A simple metadata analyzer which represents the file name and size in JSON format.

      form.col-10.px-0( method="POST" action="/api/fileanalyse" enctype="multipart/form-data" )
        .input-group.col-12.px-0.mt-5
          input.form-control( type="file" aria-label="Upload a file" )
          .input-group-append
            button.btn.btn-primary( type="submit" ) Send file!

      footer
        p.mt-4.mb-2 by 
          a(
            href="https://twitter.com/yagoestevez"
            target="_blank" rel="noopener noreferrer"
          ) Yago Estévez